:root {
    --background: #000;
    --foreground: #FF8D8D;
    --margin-body: 4px;
    --side-gutter: 26px;
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.5rem;
    --text-primary: rgba(0,0,0,.87);
    --text-secondary: rgba(0,0,0,.54);
    --margin-1: 70px;
    --margin-2: 50px;
    --margin: 30px;
    --padding-overlay: 8px;
    --padding-overlay-vertical: 32px;
}

@import "./functions";
@import "./mixins";

html {
    background: get-breakpoint("xs");
}

@include grid();

